.first {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.body-container {
  padding-top: 25px;
  text-align: center;
  color: #c9138c;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 72px;
}

p {
  font-size: 24px;
}
