@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

body {
  margin: 0px;
  padding:0px;
}

.p-paginator {
  background-color: rgb(77, 79, 80);
}
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #5c5c5e;
  border-color: #6d6d70;
  color: white;
}
.p-paginator .p-paginator-first, .p-paginator .p-paginator-prev, .p-paginator .p-paginator-next, .p-paginator .p-paginator-last {
  color: white;
}

.p-dropdown {
  background-color: #f1efef;
  border: 1px solid #939292;
  border-radius: 8px;
}

.p-dropdown .p-dropdown-label {
  color: #050505;
  text-align: center;
}

.p-dropdown .p-dropdown-trigger {
  background: transparent;
  color: #6b7280;
  width: 2rem;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.p-dropdown .p-dropdown-trigger:hover {
  background-color: #bbb;
}

.p-dropdown .p-dropdown-trigger:focus {
  border-color: #e8e5e5;
}

.p-dropdown .p-dropdown-items-wrapper {
  max-height: 200px;
  overflow-y: auto;
}

.p-dropdown .p-dropdown-item {
  color: rgb(18, 19, 19);
}

.p-dropdown .p-dropdown-item:hover {
  background-color: #bbb;
}

.p-dropdown .p-dropdown-item.selected {
  background-color: #bbb;
  color: #fff;
}

